<% if grocery_list.recipes != [] %>
    <ul>
        <%= render partial: '/recipes/session_list', collection: grocery_list.recipes, as: :recipe %>
    </ul>
<% else %>
    <p>There are no recipes to show!</p>
<% end %>