<!-- Recipes to add list -->
<li>
    <span class="recipe-name"><%= link_to recipe.name, recipe %></span> - 
    <%= button_to "add recipe", list_recipes_path, params: { recipe_obj: recipe }, method: :post  %><br>
    <span class="recipe-description"><%= recipe.description %></span>
</li>
<br>