<!-- Current session recipes -->
<li>
    <span class="recipe-name"><%= link_to recipe.name, recipe %></span>
    <span class="inline-button"><%= button_to "remove", recipe, method: :delete %></span>
</li>