<!-- Current session recipes -->
<li>
    <span class="recipe-name"><%= link_to recipe.name, recipe %></span>
    <%= button_to "remove", remove_recipe_path, params: { recipe_obj: recipe }, method: :delete %>
</li><br>