<h1>Welcome, <%= @user.name.capitalize %>!</h1>

<h3>All Grocery Lists</h3>

<ul>
    <%= render partial: 'grocery_lists/all_user_lists', collection: @user.grocery_lists, as: :grocery_list %>
</ul>


<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>

<%= render partial: 'grocery_lists/new_form', locals: {user: @user} %>