<h1>Welcome to Listify</h1>

<p>If you are new to our website, please visit our <%= link_to "about page", about_path %> for more information.</p>

<h2>Current Recipe List</h2>

<% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>

<% if @grocery_list.recipes != [] %>
    <ul>
        <%= render partial: '/recipes/session_list', collection: @grocery_list.recipes, as: :recipe %>
    </ul>
<% else %>
    <p>There are no recipes to show!</p>
    <p>Explore the recipes below, and click <em>add recipe</em> to add it to your list.</p>
<% end %>

<h2>All Recipes</h2>

<ul>
    <%= render partial: '/recipes/list', collection: @recipes, as: :recipe %>
</ul>