<h1>Welcome to Listify</h1>

<h2>Current Recipe List</h2>
 <%= button_to "View Grocery List", @grocery_list, method: :get %>

<% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>

<%= render partial: 'grocery_lists/recipes', locals: {grocery_list: @grocery_list} %>

<h2>All Recipes</h2>

<ul>
    <%= render partial: '/recipes/list', collection: @recipes, as: :recipe %>
</ul>