/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .recipe_name {
     font-size: 22px;
     font-weight: bold;
 }
 
 .list_name {
     font-size: 22px;
     font-weight: bold;
 }

 .recipe_description {
     font-size: 14px;
 }

 .error {
     color: rgb(196, 20, 64);
 }

 .success {
     color: rgb(20, 196, 73);
 }

 .inline > * {
     display: inline;
 }

 .add_button > * {
    background-color: white;
    border: 1px solid rgb(20, 196, 73);
    color: rgb(20, 196, 73);
    font-size: 12px;
    text-align: center;
    border-radius: 40%;
}

 .delete_button > * {
     background-color: white;
     border: 1px solid rgb(196, 20, 64);
     color: rgb(196, 20, 64);
     font-size: 12px;
     text-align: center;
     border-radius: 40%;
 }

 .add_button > *:hover {
    background-color: rgb(214, 255, 227);
    cursor: pointer;
}

 .delete_button > *:hover {
     background-color: rgb(252, 217, 226);
     cursor: pointer;
 }
